.read_text{
    color:red
}

.yellow_text{
    color:yellow
}

.green_text{
    color: green;
}

p {
    text-align: center;
}

span {
    font-size: 180%;
}

tr {
    text-align: center;
    height: 130px;
}

.bgcolor{
    background-color: lightgrey;
}

.bgcolor2{
    background-color: rgb(235, 235, 235);
}

.style{
    width: 60pt;
    height: 20pt;
    font-weight: bolder;
}